<div class="flex flex-col md:items-start bg-white md:rounded-2xl md:border border-t border-solid shadow border-border justify-between md:w-64 md:h-full p-3 absolute md:relative bottom-0 w-full">

    @if (false) { <app-account-icon></app-account-icon> }

    <div class="hidden md:block ">
        <app-logo-component/>
    </div>
    <nav class=" flex md:flex-col w-full gap-3 justify-between h-10 ">
        @for (section of menuService.sections; track section.name) {
            <a 
            routerLink="{{section.link}}"
            routerLinkActive="active"
            class="{{menuService.isSectionActive(section.link) ? style : ''}} md:pl-5 flex justify-start items-center gap-3 p-1"
            >
                <ng-container *ngComponentOutlet="section.icon; inputs:{'size': 6}"></ng-container>
                <h1 class="hidden md:block">{{section.name}}</h1>
            </a>
        }
    </nav>
    <div class="hidden md:block">
        <h1>Corretor</h1>
        <h1>Fernanda Moraes</h1>
        <div>
            <h2>28 imóveis ativos</h2>
            <h2>12 visitas nesta semana</h2>
        </div>
        <a
            routerLink="/conta"
            routerLinkActive="active"
            class="mt-3 {{menuService.isSectionActive('/conta') ? style : ''}} md:pl-5 flex justify-start items-center gap-3 p-1"
        >
            <ng-container *ngComponentOutlet="accountIcon; inputs:{'size': 6}"></ng-container>
            <h1>Minha Conta</h1>
        </a>
    </div>
    <app-goal class="hidden md:block"/>
</div>
